<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ProductNamespace">
<resultMap type="com.entity.Product"  id="productMap">
<id property="productId" column="productId"/>
<result  property="productName" column="productName"/>
<result property="productCode" column="productCode"/>
<result property="productClass" column="productClass"/>
<result property="pdSalePrice" column="pdSalePrice"/>
<result property="pdPurchase" column="pdPurchase"/>
<result property="productNumber" column="productNumber"/>
</resultMap>
<select id="findbyid" parameterType="string" resultType="com.entity.Product">
  select * from product where productId=#{Id}
</select>
<select id="findbyname" parameterType="string" resultType="com.entity.Product">
  select * from product where productName like "%"#{Name}"%"
</select>
<select id="findAll" resultType="com.entity.Product">
select * from product
</select>
<select id="findbyproductcode" parameterType="string"  resultType="com.entity.Product">
select * from product where productCode=#{productcode}
</select>

<insert id="add" parameterType="com.entity.Product">
insert into product(productId,productName,productCode,productClass,pdSalePrice,pdPurchasePrice,productNumber)
		 values(#{productId},#{productName},#{productCode},#{productClass},#{pdSalePrice},#{pdPurchasePrice},#{productNumber})
</insert>
<update id="updateproduct" parameterType="com.entity.Product" >
   update  product set pdSalePrice=#{pdSalePrice},pdPurchasePrice=#{pdPurchasePrice}
	 where productId=#{productId}
</update>
<update id="updatenumberproduct" parameterType="com.entity.Product" >
   update  product set productNumber=#{productNumber}
	 where productId=#{productId}
</update>
<delete id="deleteproduct" parameterType="string">
	 delete from product where productId=#{productId} 
</delete>

</mapper>


